.Active-item {
    display: flex;
    width: 100%;
    height: 35px;
    gap: 5px;
    border-radius: 5px;
    align-items: center;
}

.Active-item .item-alram {
    display: flex;
    width: 8%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    align-items: center;
}

.Active-item .item-input {
    width: 65%;
    height: 30px;
    border: 0;
    background: transparent;
    outline: none;
}

.Active-item .item-btn-box {
    display: flex;
    width: 27%;
    justify-content: end;
    gap: 4px;
    padding-right: 4px;
}

.item-btn {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.6rem;
}

.item-btn:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

.Active-item .item-time {
    display: flex;
    width: 27%;
    justify-content: end;
    align-content: end;
    font-style: italic;
    font-size: small;
    color: green;
    padding-right: 3px;
}


.tag-btn {
    border: 0px;
    background: transparent;
}

.tag-btn :hover {
    border: 1px solid gray;
    border-radius: 10px;
}

.modal-content {
    resize: none;
    border: 0px;
}

.modal-content:hover input {
    background: rgb(202, 202, 202);
}

.modal-content .setting {
    margin-top: 5px;
    font-family: 'WantedSans';
    font-size: small;
}

.modal-content h4 {
    font-family: 'DNFBitBitv2';
}

.modal-content h5 {
    font-family: 'WantedSans';
    font-weight: bolder
}


.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.slide-in-blurred-right {
    -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) ;
        transform: translateX(1000px) ;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) ;
        transform: translateX(0) ;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) ;
        transform: translateX(1000px) ;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0) ;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) ;
        transform: translateX(-1000px) ;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) ;
        transform: translateX(0) ;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) ;
        transform: translateX(-1000px) ;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) ;
        transform: translateX(0) ;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
    }
}