/*메인*/

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/*컨텐츠 영역*/
.content-area {
    display: flex;
    flex-grow: 1;
}

.content-area .settings {
    display: flex;
    flex-grow: 1;
    min-width: 330px;
    max-width: 330px;
}

.content-area .settings .stack {
    flex-grow: 1;
    min-width: 330px;
}


.content-area .task-editor {
    display: flex;
    min-width: 434px;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}


@media (max-width:768px) {
    .content-area .task-editor {
        padding-top: 5px;
    }
}


/*동기화 상황*/

.server-status {
    height: 25px;
    font-size: 0.6rem;
    align-items: center;
}

.server-status .sync {
    text-align: end;
}


/*기타 공동 요소*/

.drag-region {
    -webkit-app-region: drag;
}

.no-drag-region {
    -webkit-app-region: no-drag;
}