/*Task*/

.Task {
    display: flex;
    width: 100%;
    height: 35px;
    gap: 5px;
    border-radius: 5px;
    align-items: center;
}

.Task:hover {
    background: #e1e1e1;
}

/*상태 표시 버튼(알람, 완료)*/

.Task .status-box {
    display: flex;
    width: 8%;
    max-width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    align-items: center;
}

.status-box.needsAction {}

.status-box.completed {
    border: #198754;
    color: #e1e1e1;
    background-color: #198754;
}

.status-box.deleted {
    border: #df3d31;
    color: #e1e1e1;
    background-color: #df3d31;
    -webkit-animation: jello-diagonal-2 0.8s both;
    animation: jello-diagonal-2 0.8s both;
}

/*타이틀*/

.Task .title {
    display: flex;
    align-items: center;
    width: 65%;
    height: 100%;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    border: 0px;
}

.Task .title:hover {
    cursor: pointer;
}

/*컨트롤 버튼*/

.Task .control-btn-box {
    display: flex;
    width: 25%;
    justify-content: end;
    gap: 4px;
    padding-right: 3px;
}

.control-btn-box .control-btn {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.6rem;
}

.control-btn:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

/*시간 표시*/

.Task .time-span {
    display: flex;
    width: 25%;
    justify-content: end;
    align-content: end;
    font-style: italic;
    font-size: 0.6rem;
    color: #5c636a;
    padding-right: 3px;
}

.Task .on-focus {
    color: #0d6efd;
}

/*애니메이션 효과*/

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.jello-vertical {
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
}

.jello-diagonal-2 {
    -webkit-animation: jello-diagonal-2 0.8s both;
    animation: jello-diagonal-2 0.8s both;
}

.slide-in-right-completed {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation-delay: 700ms;
}

.slide-in-right-deleted {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation-delay: 400ms;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}



@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@-webkit-keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0;
    }
}

@keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0;
    }
}

@-webkit-keyframes jello-diagonal-2 {
    0% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }

    30% {
        -webkit-transform: skew(-25deg -25deg);
        transform: skew(-25deg -25deg);
    }

    40% {
        -webkit-transform: skew(15deg, 15deg);
        transform: skew(15deg, 15deg);
    }

    50% {
        -webkit-transform: skew(-15deg, -15deg);
        transform: skew(-15deg, -15deg);
    }

    65% {
        -webkit-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
    }

    75% {
        -webkit-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
    }

    100% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
}

@keyframes jello-diagonal-2 {
    0% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }

    30% {
        -webkit-transform: skew(-25deg -25deg);
        transform: skew(-25deg -25deg);
    }

    40% {
        -webkit-transform: skew(15deg, 15deg);
        transform: skew(15deg, 15deg);
    }

    50% {
        -webkit-transform: skew(-15deg, -15deg);
        transform: skew(-15deg, -15deg);
    }

    65% {
        -webkit-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
    }

    75% {
        -webkit-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
    }

    100% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
}

